body {
  font-family: 'Outfit' !important;
}

main {
  max-width: 998px !important;
}

.bg-main {
  background-color: #001632 !important;
}

#header-logo {
  width: 40px;
  aspect-ratio: 1/1;
}

.card:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.link-trip {
  text-decoration: none;
  color: black;
}

.badge-green {
  background-color: rgb(59, 131, 59);
}

.badge-red {
  background-color: rgb(213, 107, 235);
}

.nav-underline .nav-link.active,
.nav-underline .nav-link:hover {
  border-bottom-color: #00E165 !important;
}

.text-second {
  color: #00E165;
}

#add-button {
  position: fixed;
  z-index: 1;
  right: 30px;
  top: 650px;
  width: 50px;
  height: 50px;
  background-color: #00E165;
  border-radius: 100%;
  transition: .3s;
}

#add-button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}