body {
  font-family: 'Outfit' !important;
}

.bg-main {
  background-color: #001632 !important;
}

#header-logo {
  width: 40px;
  aspect-ratio: 1/1;
}

.card:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.link-trip {
  text-decoration: none;
  color: black;
}

.badge-green {
  background-color: rgb(59, 131, 59);
}

.badge-red {
  background-color: rgb(212, 76, 76);
}